{% extends 'menu.html' %}
{% load staticfiles %}
{% block container %}
    {% if status == 'error' %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}
    <form method="post" action="" style="max-width: 700px;margin:0 auto">
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 30px;">
                {% csrf_token %}
                <h3 style="margin-bottom: 30px;">Cadastrar bloco </h3>
                <div class="row">
                    <div class="col-lg-6">

                        <div class="form-group">
                            <label>Nome do material:</label>
                            <select class="form-control" name="material_id">
                                {% for material in materials %}
                                <option value="{{ material.id }}" >{{ material.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Número do bloco:</label>
                            <input class="form-control" type="text" name="number" maxlength="5" placeholder="Digite o número do bloco.">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">
                    Salvar
                    <span class="glyphicon glyphicon-floppy-saved"></span>

                </button>

                </div>

            </div>
        </div>
    </form>

{% endblock %}